{% extends "layout.html" %}

{% block page_title %}
  Visit the UK visa options - GOV.UK
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">
        {% include "includes/phase_banner_alpha.html" %}


    <div class="breadcrumbs">
        <ol>
            <li><a href="https://www.gov.uk">Home</a></li>
            <li><a href="/index.html">Visas and immigration</a></li>
            <li><a href="/come_to_the_uk.html">Come to the UK</a></li>
            <li><a href="/task/index.html">Visit the UK</a></li>
            <li>Visit the UK visa options</li>
        </ol>
    </div>

           <div class="grid-row">
    <div class="column-full" style="margin-bottom:35px;">
        
          <h1 class="heading-large">
        Visit the UK visa options
      </h1>

        <p>Visas you may be eligible for if:</p>
        
        <ul class="list list-bullet">
      <li>you are staying in the UK for <span style="font-weight:bold;">less than 6 months</span> <a href="/explore/1.html">edit</a></li>
    </ul>        
    </div>   

    </div>
    
    <div class="visa-card">
                   <div class="grid-row">
    <div class="column-full">
        <h3 class="heading-medium"><a href="#" style="text-decoration:none;">Standard visitor visa</a></h3>
        <p style="width:66.66%;">You can visit the UK on holiday, to see friends and family, take part in sports or creative events, receive medical treatment.</p>
                       </div>   
    </div>
        <div class="grid-row">
            
            <div class="column-one-half">
    <p><span style="font-weight:bold;">Work:</span> No</p>
    <p><span style="font-weight:bold;">Study:</span> Yes (up to 30 days)</p>
  </div>

  <div class="column-one-half">
    <p><span style="font-weight:bold;">Cost:</span> £89</p>
    <p><span style="font-weight:bold;">Length of stay:</span> up to 6 months</p>  </div>
        </div>
    </div>
    
        <div class="visa-card">
                   <div class="grid-row">
    <div class="column-full">
        <h3 class="heading-medium"><a href="#" style="text-decoration:none;">Marriage Visitor visa</a></h3>
        <p style="width:66.66%;">You can apply for a Marriage Visitor visa you want to get married or register a civil partnership in the UK.</p>
                       </div>   
    </div>
        <div class="grid-row">
            
            <div class="column-one-half">
    <p><span style="font-weight:bold;">Work:</span> No</p>
    <p><span style="font-weight:bold;">Study:</span> Yes (up to 30 days)</p>
  </div>

  <div class="column-one-half">
    <p><span style="font-weight:bold;">Cost:</span> £87</p>
    <p><span style="font-weight:bold;">Length of stay:</span> up to 6 months</p>  </div>
        </div>
    </div>
    
        <div class="visa-card">
                   <div class="grid-row">
    <div class="column-full">
        <h3 class="heading-medium"><a href="#" style="text-decoration:none;">Parent of a Tier 4 child visa</a></h3>
        <p style="width:66.66%;">You can apply for a Parent of a Tier 4 child visa if your child attends an independent fee-paying day school in the UK.</p>
                       </div>   
    </div>
        <div class="grid-row">
            
            <div class="column-one-half">
    <p><span style="font-weight:bold;">Work:</span> No</p>
    <p><span style="font-weight:bold;">Study:</span> No</p>
  </div>

  <div class="column-one-half">
    <p><span style="font-weight:bold;">Cost:</span> £496</p>
    <p><span style="font-weight:bold;">Length of stay:</span> 6 or 12 months</p>  </div>
        </div>
    </div>
    
        <div class="visa-card">
                   <div class="grid-row">
    <div class="column-full">
        <h3 class="heading-medium"><a href="#" style="text-decoration:none;">Permitted Paid Engagement visa</a></h3>
        <p style="width:66.66%;">You may be able to get a Permitted Paid Engagement visa if you’ve been invited to the UK as an expert in your profession.</p>
                       </div>   
    </div>
        <div class="grid-row">
            
            <div class="column-one-half">
    <p><span style="font-weight:bold;">Work:</span> Yes</p>
    <p><span style="font-weight:bold;">Study:</span> Yes (up to 30 days)</p>
  </div>

  <div class="column-one-half">
    <p><span style="font-weight:bold;">Cost:</span> £87</p>
    <p><span style="font-weight:bold;">Length of stay:</span> 1 month</p>  </div>
        </div>
    </div>
    
        <div class="visa-card">
                   <div class="grid-row">
    <div class="column-full">
        <h3 class="heading-medium"><a href="#" style="text-decoration:none;">Short-term study visa</a></h3>
        <p style="width:66.66%;">Apply for a Short-term study visa for a short course of study or training in the UK.</p>
                       </div>   
    </div>
        <div class="grid-row">
            
            <div class="column-one-half">
    <p><span style="font-weight:bold;">Work:</span> No</p>
    <p><span style="font-weight:bold;">Study:</span> Yes (up to 30 days)</p>
  </div>

  <div class="column-one-half">
    <p><span style="font-weight:bold;">Cost:</span> £93 (6 months) or £179 (11 months)</p>
    <p><span style="font-weight:bold;">Length of stay:</span> 6 or 11 months</p>  </div>
        </div>
    </div>



</main>

<style>

    .visa-card {
        padding: 30px 0;
        border-top: 1px solid #bfc1c3;
    }
    
    .visa-card .heading-medium {
        margin-top: 0;
    }
    
    .column-one-half p {
        margin-bottom: 0;
    }

</style>


{% endblock %}
