{% extends "layout.html" %}

{% block page_title %}
  Visit the UK - GOV.UK
{% endblock %}

{% block service_name %} {% endblock %} 
{% block content %}

<main id="content" role="main">
        {% include "includes/phase_banner_alpha.html" %}
    
    <div class="breadcrumbs">
        <ol>
            <li><a href="https://www.gov.uk">Home</a></li>
            <li><a href="/index.html">Visas and immigration</a></li>
            <li><a href="/come_to_the_uk.html">Come to the UK</a></li>
            <li>Visit the UK</li>
        </ol>
    </div>
    

  <div class="grid-row">
    <div class="column-two-thirds column-minimum">

      <h1 class="heading-xlarge">
        Visit the UK
      </h1>
        
      <ol class="task-list">
        <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">1. </span> Check before you start
          </h2>
          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="/check-if-need-visa/index.html">
                Check if you need a UK visa
              </a>
            </li>
            <li class="task-list-item">
              <a class="task-name" href="/explore/index.html">
                Explore your UK visa options
              </a>
            </li>
            <li class="task-list-item">
              <a class="task-name" href="/guidance/index.html">
                Read guidance and check eligibility
              </a>
            </li>
            <li class="task-list-item">
              <a class="task-name" href="/task/1-4-legal-advice.html">
                Consider seeking advice from a legal representative
              </a>
            </li>
          </ul>
        </li>
          
                  <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">2. </span> Prepare your documents and evidence
          </h2>
          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="#">
                Get identity documents
              </a>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">3. </span> Apply
          </h2>
          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="#">
                Apply for your visa
              </a>
            </li>
                        <li class="task-list-item">
              <a class="task-name" href="#">
                Post documents and evidence
              </a>
            </li>
          </ul>
        </li>
                  <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">4. </span> While we process your application
          </h2>
          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="#">
                Provide your biometrics
              </a>
            </li>
                        <li class="task-list-item">
              <a class="task-name" href="#">
                Track your application
              </a>
            </li>
          </ul>
        </li>
      </ol>

    </div>
  </div>
</main>

{% endblock %}
