{% extends "layout.html" %} {% block page_title %} Visas and immigration - GOV.UK {% endblock %} {% block service_name %} {% endblock %} {% block content %}

<main id="content" role="main">

    {% include "includes/phase_banner_alpha.html" %}

    <div class="breadcrumbs">
        <ol>
            <li><a href="https://www.gov.uk">Home</a></li>
            <li><a href="/index.html">Visas and immigration</a></li>
            <li>Come to the UK</li>
        </ol>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds" style="margin-bottom:35px;">

            <h1 class="heading-large">
                Come to the UK
            </h1>

            <p>Find out how to come to the UK based on your circumstances and what you want to do.</p>

        </div>
    </div>

    <div class="grid-row" style="margin-bottom:45px;">
        <div class="column-third">

            <h2 class="bold-medium"><a href="/task/index.html">Visit the UK</a></h2>

            <p>Visiting the UK for up to 6 months.</p>

        </div>
        <div class="column-third">

            <h2 class="bold-medium"><a href="navigation/stay">Work in the UK</a></h2>

            <p>Lorem ipsum dolor sit amet, elit consectetur adipiscing.</p>

        </div>
        <div class="column-third">

            <h2 class="bold-medium"><a href="#">Study in the UK</a></h2>

            <p>Lorem ipsum dolor sit amet, elit consectetur adipiscing.</p>

        </div>
    </div>

    <div class="grid-row" style="margin-bottom:45px;">

        <div class="column-third">

            <h2 class="bold-medium"><a href="#">Setup or invest in a business in the UK</a></h2>

            <p>Lorem ipsum dolor sit amet, elit consectetur adipiscing.</p>

        </div>
        <div class="column-third">

            <h2 class="bold-medium"><a href="#">Join family in the UK</a></h2>

            <p>Lorem ipsum dolor sit amet, elit consectetur adipiscing.</p>

        </div>
        <div class="column-third">

        </div>
    </div>

</main>

{% endblock %}
