{% extends "layout.html" %} {% block page_title %} Explore your UK visa options - GOV.UK {% endblock %} {% block service_name %} Explore your UK visa options {% endblock %} {% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_alpha.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            <a class="link-back" href="/explore/1.html">Back</a>

            <h1 class="heading-large">
                What is the main purpose of your visit?
            </h1>

            <form action="/guidance/1.html" method="get" class="form">

                <div class="form-group">
                    <fieldset>

                        <legend class="visually-hidden">What is the main purpose of your visit?</legend>

                        <div class="multiple-choice">
                            <input id="purpose-xxx" type="radio" name="purpose" value="xxx">
                            <label for="purpose-xxx">Tourism, including visiting family and friends</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="purpose-work" type="radio" name="purpose" value="work">
                            <label for="purpose-work">Work, academic visit or business</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="purpose-child" type="radio" name="purpose" value="child">
                            <label for="purpose-child">Stay with your child, if they are at school</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="purpose-marriage" type="radio" name="purpose" value="marriage">
                            <label for="purpose-marriage">Get married or enter into a civil partnership</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="purpose-else" type="radio" name="purpose" value="else">
                            <label for="purpose-else">Another reason</label>
                        </div>
                    </fieldset>
                </div>

                <div class="form-group">
                    <input class="button" type="submit" value="Continue">
                </div>

            </form>

        </div>
    </div>
</main>

{% endblock %}
